.category-container {
  background-color: #043a47;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 70px;
}

.category-container button {
  background-color: #043a47;
  border: none;
  color: #fafafa;
  cursor: pointer;
  font-size: 13px;
  height: 35px;
  padding: 5px;
  text-align: center;
}

.product-card {
  height: 350px;
  padding: 40px;
  width: 200px;
}

.product-card button {
  border: none;
  cursor: pointer;
}

.category-container button:hover {
  background-color: #097994;
  color: #fafafa;
  transition: 200ms ease-in-out;
}

.results-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.product-card .product {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
}

.product img {
  height: 150px;
  width: 150px;
}

.product-card button img {
  height: 25px;
}

.product p {
  height: 55px;
  overflow: hidden;
}

a {
  text-decoration: none;
}
